<nav class='navbar navbar-default no-margin'>
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#">Math Is Fun!</a>
        </div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
            {% include 'shared/navbar/_NavLinksPartial.html' %}
	    </div>
	</div>
</nav>