{% extends 'shared/_Main.html' %}

{% block content %}
	<div class="container-fluid">
		<div class="row belize-hole-background padding-small">
			<div class="col-sm-6 text-center cloud-text"><h1 class="h01">WELCOME!</h1>
			<h2 class="h02">To the world of math!</h2></div>
			<div class="col-sm-6"><img src="../static/content/images/math-logo.png" class="center-block img-responsive"
			                           alt="Thank you for visiting my page! Sadly the image won't load :-("/></div>
		</div>
		<div class="row padding-small text-center emerald-background">
			<div class="col-sm-6"><img src="../static/content/images/we-heart-math.png" class="center-block img-responsive"
			                           alt="We love some math here! Sadly the image won't load :-("/></div>
			<div class="col-sm-6 cloud-text"><h1 class="h01">Here we love some math! If you don't love math yet, well get ready.
				For fun shall be had here.</h1></div>
		</div>
		<div class="row cloud-background">
				<div class="col-sm-4 margin-small">
					<div class="circle circle-river center-block">
						<img src="../static/content/images/six10.png" alt="6th Grade" class="icon"/>
					</div>
                </div>
                <div class="col-sm-4 margin-small">
	                <div class="circle circle-belize-hole center-block">
		                <img src="../static/content/images/seven1.png" alt="6th Grade" class="icon"/>
	                </div>
                </div>
                <div class="col-sm-4 margin-small">
	                <div class="circle circle-green-sea center-block">
		                <img src="../static/content/images/eight9.png" alt="6th Grade" class="icon"/>
	                </div>
                </div>
		</div>
	</div>
{% endblock %}