<script src="{{ url_for('static', filename='script/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='script/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='content/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='content/startbootstrap-freelancer/js/classie.js') }}"></script>
<script src="{{ url_for('static', filename='content/startbootstrap-freelancer/js/cbpAnimatedHeader.min.js') }}"></script>
<script src="{{ url_for('static', filename='content/startbootstrap-freelancer/js/jpBootstrapValidation.js') }}"></script>
<script src="{{ url_for('static', filename='content/startbootstrap-freelancer/js/contact_me.js') }}"></script>
<script src="{{ url_for('static', filename='content/startbootstrap-freelancer/js/freelancer.js') }}"></script>
