<link rel="stylesheet" href="{{ url_for('static', filename='content/bootstrap/dist/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='content/bootstrap/dist/css/bootstrap-theme.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='content/bootstrap-themes/startbootstrap-freelancer/freelancer.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='content/bootstrap-themes/startbootstrap-simple-sidebar/simple-sidebar.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='content/site.css') }}"/>
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">